<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4f.0.xsd">
            
		<!-- 扫描最大的包结构 -->
		<context:component-scan base-package="com.jinlongfen"/>            
                        
                        
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/1510g" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.jinlongfen.dto" />
		<property name="mapperLocations" value="classpath:com/jinlongfen/mappers/*.mapper.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.jinlongfen.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	
	
	
	
		<!-- 配置事务管理器  -->
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"></property>
		</bean>
		<!-- <aop:aspectj-autoproxy proxy-target-class="true"/> -->
		<!-- 事务处理  -->
		<aop:config>
			<!-- 声明切入点
			事务加在service,事务是为了保证一个业务的完整性。
			 -->
			<aop:pointcut expression="execution(* com.jinlongfen.service..*.*(..))" id="trPointcut"/>
			<!-- 通知与切入点关联 -->
			<aop:advisor advice-ref="trAdvice" pointcut-ref="trPointcut"/>
		</aop:config>
		
		<tx:advice id="trAdvice" transaction-manager="transactionManager">
			<!-- propagation事务的传播行为
			isolation 事物的隔离级别
			 -->
			<tx:attributes>
				<tx:method name="insert*" propagation="REQUIRED" read-only="false"/>
				<tx:method name="delete*" propagation="REQUIRED"/>
				<tx:method name="update*" propagation="REQUIRED"/>
				<tx:method name="add*" propagation="REQUIRED"/>
				<tx:method name="d*" propagation="REQUIRED"/>
				<tx:method name="t*" propagation="REQUIRED"/>
				<tx:method name="s*" propagation="REQUIRED"/>
				<tx:method name="deleteByRoleId" propagation="REQUIRED"/>
				<tx:method name="*" propagation="REQUIRED" read-only="true"/>
			</tx:attributes>
		</tx:advice>	
		
		<context:component-scan base-package="com.jinlongfen.service.impl" />
</beans>